# Introducción a los diccionarios de Python

In [1]:
name = 'Earth'
moons = 1

In [2]:
earth_name = 'Earth'
earth_moons = 1

jupiter_name = 'Jupiter'
jupiter_moons = 79

In [3]:
planet = {
    'name': 'Earth',
    'moons': 1
}

In [4]:
print(planet.get('name'))

# Muestra Earth

Earth

In [5]:
# planet['name'] es idéntico a usar planet.get('name')
print(planet['name'])

# Muestra Earth

Earth

# Modificación de valores de un diccionario

In [8]:
planet.update({'name': 'Makemake'})

# name ahora es Makemake

In [9]:
planet['name'] = 'Makemake'

# name is now set to Makemake

In [10]:
# Usando update
planet.update({
    'name': 'Jupiter',
    'moons': 79
})

In [11]:
# Usando corchetes
planet['name'] = 'Marte'
planet['moons'] = 7

### Adición y eliminación de claves

In [12]:
planet['orbital period'] = 4333

# el diccionario planet ahora contiene: {
#   name: 'jupiter'
#   moons: 79
#   orbital period: 4333
# }

In [13]:
planet.pop('orbital period')

# el diccionario planet ahora contiene: {
#   name: 'jupiter'
#   moons: 79
# }

4333

### Tipos de data complejos

In [14]:
# Añadimos los datos
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}

# el diccionario planet ahora contiene: {
#   name: 'Jupiter'
#   moons: 79
#   diameter (km): {
#      polar: 133709
#      equatorial: 142984
#   }
# }

In [22]:
print(planet['name'],"Diámetro polar:  ", planet["diameter (km)"]['polar'])

# Salida: Jupiter polar diameter: 133709

Marte Diámetro polar:   133709

# Programación dinámica con diccionarios

### Recuperación de todas las claves y valores

In [23]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [24]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

# Salida:
# october: 3.5cm
# november: 4.2cm
# december: 2.1cm

october: 3.5cm
november: 4.2cm
december: 2.1cm

## Determinando la existencia de una clave en un diccionario

In [25]:
# El valor de december: 2.1cm

# Si, 'december' existe en rainfall
if 'december' in rainfall:
    # rainfall [en la posición december] es igual a
    # rainfall [en la posición december] + 1 (2.1+1)
    rainfall['december'] = rainfall['december'] + 1

# Si no:
else:

    # rainfall [en la posición december] es igual a 1
    rainfall['december'] = 1

# Como december si existe, el valor será 3.1

## Recuper todos los valores de un diccionario

In [26]:
#Total de precipitaciones 0
total_rainfall = 0

# Para cada valor en los valores de rainfall
for value in rainfall.values():
    
    # El total de las precipitaciones será igual a ese mismo + el valor que se está iterando

    total_rainfall = total_rainfall + value

# Muestra 'Hay un total de precipitaciones (el valor total) en centímetros en el último cuarto (haciendo referencia al cuarto del año)

print(f'There was {total_rainfall}cm in the last quarter')

# Salida:
# There was 10.8cm in the last quarter

There was 10.8cm in the last quarter

# Ejercicio 1: Creación de diccionarios de Python
### Ejercicio: Crear y modificar un diccionario de Python

In [28]:
# Crea un diccionario llamado planet con los datos propuestos
planet = {
    'name': 'Marte',
    'moons': 2
}

In [38]:
# Muestra el nombre del planeta y el número de lunas que tiene.
print(f'{planet["name"]} tiene {planet["moons"]} lunas')

Marte tiene 2 lunas

In [34]:
# Agrega la clave circunferencia con los datos proporcionados previamente
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [37]:
# Imprime el nombre del planeta con su circunferencia polar.
print(f'{planet["name"]} tiene una circunferencia polar de  {planet["circumference (km)"]["polar"]} Km')

Marte tiene una circunferencia polar de  6752 Km

# Ejercicio 2: Programación dinámica con diccionarios
# Ejercicio: Cálculo de valores

In [39]:
# Planets and moons
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [40]:
# Añade el código para determinar el número de lunas.

# Obtenemos la lista de las lunas
# Almacenamos los resultados en una variable moons
moons = planet_moons.values()

# Obtenemos el total de planetas
# Almacenamos los resultados en una variable llamada years
planets = len(planet_moons.keys())

In [43]:
for key in planet_moons.keys():
    print(f'{key}: {planet_moons[key]}')

mercury: 0
venus: 0
earth: 1
mars: 2
jupiter: 79
saturn: 82
uranus: 27
neptune: 14
pluto: 5
haumea: 2
makemake: 1
eris: 1

In [45]:
print(moons)

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])

In [46]:
# Calcula el total_moons agregando todas las lunas
# Almacena su valor en una variable llamada total_moons

total_moons = 0
for moon in moons:
    total_moons = total_moons + moon

# Calcula el promedio dividiendo el total_moons por el número de planetas
average = total_moons / planets

# Muestra el promedio
print(average)

17.833333333333332